#app {
    text-align: center;
    vertical-align: center;
    background: beige;
    padding: 3em;
}

#app h1 {
    font-size: 3em;
    color: purple;
    text-shadow: 1px 1px 1px red;
}

#app p {
    font-size: 1.2em;
    color: black;
    text-shadow: 1px 1px 1px orange;
}

#app button {
    font-size: 1.5em;
    color: black;
    padding: 5px;
    cursor: pointer;
    text-decoration: none !important;
}

body {
    background-color: beige;
    max-width: 100vw !important;
    max-height: 100vh !important;
    margin: 0;
    padding: 0;
}

#explain {
    width: 100vw;
    max-height: 10vh;
    position: absolute;
    margin-top: 90vh;
    background-color: grey;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
}

#explain #explain-text {
    font-size: 1.5em;
    opacity: 1;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px aqua;
}